.img-style{
    width: 250px;
    height: 375px;
    border-radius: 40px;
    border: solid black 5px;

}
.conteiner-img{
 display: flex;
 justify-content: center;
 background-color: rgb(139, 133, 133);
 width: 60%;
 margin: auto;
 padding: 50px;
 border-radius: 50px;

}


/*.img-style{
    background-color: rgb(255, 255, 255);
    margin: 25px;
    padding: 50px;
    width: 250px;
}
*/
.img-style:hover{
    background-color: rgb(72, 5, 68);
    color: rgb(115, 21, 101)
}

body{

    background-color: rgb(175, 166, 166);
    text-align: center;
    color: rgb(91, 37, 138);
}

a{
    text-decoration: none;
    border: solid 1px;
    padding: 15px;
    border-radius: 16px;
}

.imgfoda{
    width: 250px;
    height: 375px;
}